<div class="row">
    <div class="col-md-4">
        <h3 style = "padding-left: 40px;"> Leader  </h3>

        <ul class="icon-list"; style = "list-style-type: none">
            <li><i class="fas fa-user"></i> &nbsp <a href="{{ .Site.Params.leader.url }}" target="_blank" rel="noopener"> {{ .Site.Params.leader.name }}</a></li>
            <li><i class="fas fa-building"></i> &nbsp {{ .Site.Params.leader.office }}</li>
            <li><i class="fas fa-envelope"></i> &nbsp <a href="mailto:{{ .Site.Params.leader.email }}"> {{ .Site.Params.leader.email }}</a></li>
            <li><i class="fab fa-twitter"></i> &nbsp <a href="https://twitter.com/{{ .Site.Params.leader.twitter }}" target="_blank" rel="noopener"> @{{ .Site.Params.leader.twitter }}</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3 style = "padding-left: 40px;">Course details</h3>

        <ul class="icon-list"; style = "list-style-type: none">
            <li><i class="far fa-calendar-alt"> </i>  &nbsp {{ .Site.Params.course.year }}</li>
            <li><i class="fab fa-twitter"></i> &nbsp <a href="https://twitter.com/{{ .Site.Params.course.twitter }}" target="_blank" rel="noopener"> @{{ .Site.Params.course.twitter }}</a></li>
            <li><i class="fab fa-github"></i> &nbsp <a href="https://github.com/{{ .Site.Params.course.github }}" target="_blank" rel="noopener"> @{{ .Site.Params.course.github }}</a></li>
            <li><i class="fas fa-university"></i> &nbsp {{ .Site.Params.course.location }}</li>
            {{ if isset .Site.Params.course "slack" }}<li><i class="fab fa-slack"></i> <a href="{{ .Site.Params.course.slack }}" target="_blank" rel="noopener">Slack</a></li>{{ end }}
        </ul>
    </div>

    <div class="col-md-4 contact-policy">
        <h3>Contacting me</h3>

        <p>{{ .Site.Params.leader.contact_policy | markdownify}}</p>
    </div>
</div>
